<div class="container-fluid">
  <div class="row">
    <nav id="sidebar" class="col-3 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Landis Gyr</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="/meters" routerLinkActive="active" class="nav-link text-white" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Meters
          </a>
        </li>
        <li>
          <a routerLink="/reports" routerLinkActive="active" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Reports
          </a>
        </li>
      </ul>
    </nav>
    <main class="col" id="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
